<% if resource.errors.any? %>
  <div id="error_explanation" class="col-md-6 col-md-offset-2">
    <h3 class="attention">
      <%= resource.errors.count %>箇所の入力ミスがあります。
    </h3>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
