<!-- 退会完了alert -->
<% if flash[:alert] %>
  <div class="alert alert-success">
    <%= flash[:alert] %>
  </div>
<% end %>
<!-- 退会完了alert -->

<!-- トップイメージ -->
<div class="top-image">
	<div class="topimage-opacity">
		<h1>ようこそ、<span class="application_title">ComicPost</span>へ！！</h1>
	</div>
</div>
<!-- トップイメージ -->

<h1 class="text-center about-title">
	<span class="application_title">ComicPost</span>について知ろう！
</h1>

<!-- ComicPostの説明 -->
<div class="container">
	<div class="col-md-4">
		<div class="col-md-12 about-content">
			<h3><b>オンラインでプロからマンガ、イラストを学べる</b></h3>
			<p>
				<span class="application_title">ComicPost</span>ではオンラインで学べるため、好きな場所や好きな時間にマンガやイラストについて学ぶことができます。<br>
				また、プロとして活躍している講師が、1対1であなたの勉強をサポートいたします。<br>
    		<b>※サービスは有料とさせて頂いております。</b>
			</p>
		</div>
        <div class="col-md-10 col-md-offset-1 about-image1"></div>
	</div>

	<div class="col-md-4">
		<div class="col-md-12 about-content">
			<h3><b>自分の作品を自由に投稿することができる</b></h3>
			<p>
				自分の作品を<span class="application_title">ComicPost</span>内で自由に投稿することができます。<br>
				どんどんイラストや漫画を書いて、投稿していきましょう！<br>
        <b>※サービスは有料とさせて頂いております。</b>
			</p>
		</div>
		<div class="col-md-10 col-md-offset-1 about-image2"></div>
	</div>
	
	<div class="col-md-4">
		<div class="col-md-12 about-content">
			<h3><b>イラストやマンガを無料で見ることができる</b></h3>
			<p>
				<span class="application_title">ComicPost</span>ではプロとして活躍している講師、受講生のイラストやマンガを無料で閲覧できます。<br>
				また、お気に入りの作品をお気に入りとして保存できます。<br>
        <b>※サービスを受けるには会員登録が必要です。</b>
			</p>
		</div>
        <div class="col-md-10 col-md-offset-1 about-image3"></div>
	</div>
</div>
<!-- ComicPostの説明 -->

<div class="container">
	<h1 class="text-center start start-title">さあ、<span class="application_title">ComicPost</span>をはじめよう！</h1>
	<div class="col-md-6 col-md-offset-3 start" >
		<%= link_to "新規会員登録はこちら！", new_user_registration_path, class: "btn btn-primary btn-block", style: "font-size: 20px; margin-bottom: 20px; padding: 10px;" %>
	</div>
	
	<div class="col-md-6 col-md-offset-3 inquiry-link">
		<%= link_to '※お問い合わせはこちら', inquiries_new_path %>
	</div>
</div>
