<div class="image">
	<%= image_tag('3981710_m.jpg', width: "90%", height:"550px", style: "opacity: 0.6;" ) %>
	<div class="top-title">
		<h1>ようこそ、<span>ComicPost</span>へ！！</h1>
	</div>
</div>

<h1 class="text-center about-title"><span>ComicPost</span>について知ろう！</h1>

<div class="container">
	<div class="about-image"></div>
	<div class="pull-right">
		<h3>オンラインでプロからマンガ、イラストを学べる</h3>
		<p class="line-spacing">
			ComicPostではオンラインで学べるため、好きな場所や時間にマンガやイラストについて学べます。<br>
			また、プロとして活躍している講師が、1対1であなたの勉強をサポートいたします。<br>
			※サービスは有料とさせて頂いております。
		</p>
	</div>
	
</div>
