<% if picture.user == current_user || current_user.status == "講師" %>
	<h4 class="evaluation">コメントから判断したみんなの評価</h4>
	<% if picture.comments.exists? %>
		<h1><%= (picture.comments.sum(:score) / picture.comments.count).round(1) %></h1>
	<% else %>
		<h1>0.0</h1>
	<% end %>
	<div class="col-sm-12 col-md-12 evaluation">
		<p>評価の目安</p>
	</div>
	<div class="col-sm-4 col-md-4">
		<p>-1.0 ~ -0.25: <span class="label label-danger">bad</span></p>
	</div>
	<div class="col-sm-4 col-md-4">
		<p>-0.25 ~ 0.25: <span class="label label-warning">good</span></p>
	</div>
	<div class="col-md-4">
		<p> 0.25 ~ 1.0: <span class="label label-success">very good</span></p>
	</div>	
<% end %>