<div class="container">
	<div class="row">
		<h1 class="signin-title">新規投稿</h1>

		<%= render "layouts/errors", validation: @picture %>

		<%= render "picture_form", picture: @picture %>
	</div>
</div>