<div class="container">
	<h1 class="signin-title">チャット相手</h1>
		<!-- @roomsが存在しており、相手ユーザが無料会員でなければ一覧表示する -->
		<% if  @rooms.exists? %>
			<div class="col-md-5 col-md-offset-3 message">
				<table class="table">
					<thead>
						<tr class="active">
							<th>名前</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% @rooms.each do |room| %>
							<% entry = room.entries.where.not(user_id: current_user) %>
							<% unless entry[0].user.status == "無料会員" %>
								<tr>
									<td class="word-break">
									  <%= attachment_image_tag  entry[0].user, :profile_image, size: "50x50", format: "jpeg", fallback: "no_image_square.jpg", class: "img-circle" %>
										<%= entry[0].user.name %>
									</td>
									<td class="nowrap">
										<%= link_to "チャットする", room_path(room), class: "btn btn-warning" %>
									</td>
								</tr>
							<% end %>
						<% end %>
					</tbody>
				</table>
				<div class="col-xs-12 center">
					<%= paginate @rooms %>
				</div>
			</div>
			<!-- @roomsが存在しており、相手ユーザが無料会員でなければ一覧表示する -->

		<% else %>
			<div class="message">
				<p>チャット相手はいません。</p>
			</div>
		<% end %>
	</div>
</div>
	
