<div class="container">
	<h1 class="signin-title">チャット相手</h1>
		<% if  @rooms.exists? %>
			<div class="col-md-5 col-md-offset-3 message">
				<table class="table">
					<thead>
						<tr class="active">
							<th>名前</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% @rooms.each do |room| %>
							<tr>
								<td>
									<% entry = room.entries.where.not(user_id: current_user) %>
									<%= attachment_image_tag  entry[0].user, :profile_image, size: "50x50", format: 'jpeg', fallback: "no_image_square.jpg", class: "img-circle" %>
									<%= entry[0].user.name %>
								</td>
								<td>
									<%= link_to "チャットする", room_path(room), id: "chat-in", class: "btn btn-warning" %>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		<% else %>
			<div class="message">
				<p>チャット相手はいません。</p>
			</div>
		<% end %>
	</div>
</div>
	
