/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@font-face {
  font-family: 'Magnolia';
  src: font-url('Magnolia_Script.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//全ページ共通CSS
body {
  margin-top: 61px;
}

span {
  font-family: 'Magnolia';
}

header {
  height: 60px;
  background-color:#e3f2fd;
  .pull-left span{
    font-size: 35px;
  }
  .pull-right {
    padding-top: 5px;
  }
  .navbar-form {
    padding: 20px 50px
  }
  .nav li a:hover {
    background-color:#e3f2fd;
  }
  #sp-menu {
    display: none;
  }
}

.page-title {
  margin-top: 70px;
}

.form-space {
  padding-top: 30px;
}

.form-background {
  background-color: #f1f1f1;
  margin-top: 30px;
  padding-bottom: 50px;
}

a:hover {
  text-decoration: none;
}

.attention {
  color: red;
}

.picture-space {
  margin: 20px 50px 0 0;
}

.user-name {
  padding-top: 30px;
}

.signin-title {
  margin-top: 60px;
}

.picture-image {
  display: flex;
  align-items: center; 
  margin: 25px 0;
}

.picture-title {
  margin-top: 60px;
  color: #3a3000; 
}

#error_explanation {
  background: #ffe6e6;
  margin-top: 20px;
}
//全ページ共通CSS

//会員登録画面専用CSS 
.signup-text {
  margin-top: 20px;
}

.signup-title {
  margin: 70px 0 10px 20px;
}
.signup-formspace {
  padding-top: 20px;
}
//会員登録画面専用CSS 

//会員登録画面タブメニューのCSS 
.wrap{
  margin-top: 100px;
  h2 {
    font-size: 34px;
  }
}

#tab-menu {
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
    width: 50%;
  }

  .tab-link1 {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px;
    text-align: center;
    background: #d9534f;
  }

  .tab-link2 {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px;
    text-align: center;
    background: #5bc0de;
  }

  .active {
    border: 1px solid #efe9e9;
    border-bottom: none;
    background: #fbfeff;;
    color:black;
  }
}

#tab-contents {
  .tab {
    padding: 30px;
    background: #fbfeff;;
    border: 1px solid #efe9e9;
    border-top: none;
  }

  .line-spacing {
    line-height: 30px;
  }

  .description-title {
    margin: 40px 0 10px 25px;
  }
  .radio-button {
    margin-top: 100px;
    text-align: center;
    p {
      color: #4f2e00;
    }
  }
}
//会員登録画面タブメニューのCSS 

@media screen and (max-width:1200px) {
  .about-image1 {
    margin-top: 0;
  }
  .about-image2 {
    margin-top: 65px;
  }
  .about-image3 {
    margin-top: 45px;
  }
   #hm-icon{
    position: fixed;
    right: 20px;
    top: 5px;
    z-index: 10;
  }
  .menu-trigger,
  .menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }
  .menu-trigger {
    position: relative;
    width: 40px;
    height: 45px;
  }
  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #337ab7;
  }
  .menu-trigger span:nth-of-type(1) {
    top: 10px;
  }
  .menu-trigger span:nth-of-type(2) {
    top: 26px;
  }
  .menu-trigger span:nth-of-type(3) {
    bottom: 0;
  }
  header .pull-right {
    display: none;
  }
  .menu-trigger.active span:nth-of-type(1) {
    transform: translateY(10px) rotate(-45deg);
    background-color: #fff;
  }
  .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
  }
  .menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-22px) rotate(45deg);
    background-color: #fff;
  }
  #sp-menu {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    width: 100%;
    min-height: 100%;
    display: none;
    z-index: 9;
  }
  #sp-menu li{
    text-align: center;
    margin-bottom: 30px;
    list-style: none;
  }
  #sp-menu a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
}

@media screen and (max-width:991px) {
 .about-content {
    margin-top: 60px;
  }
  .about-image2 {
    margin-top: 0;
  }
  .about-image3 {
    margin-top: 0;
  }
  .genre-search {
    display: none;
  }
}

@media screen and (max-width:768px) {
  .top-image h1 {
    font-size: 34px;
  }
  .about-title {
    font-size: 28px;
  }
  .profile-image {
    margin-top: 80px;
  }
  .slick-next:before, .slick-prev:before {
    display: none;
  }
  .picture-user {
  display: none;
  }
  .edituser-title {
    margin-left:20px;
  }
  .profile-image {
    margin-top: 50px;
  }
}
@media screen and (max-width:600px) {
  .signup-text {
    margin: 20px;
  }
  .header {
    background-color:#e3f2fd;
  }
  .edituser-title {
    margin: 120px 0 0 20px;
  }
  .picture-space {
    margin: 20px 20px 0 10px;
  }
  .profile-image {
    margin-top: 120px;
  }
  .profile {
    margin-top: 50px;
  }
  .pictures {
    margin-top:120px;
  }
  .signin-title {
    margin: 130px 0 0 20px;
  }
  .no-bookmark {
    padding: 30px 0 0 20px;
  }
}
