/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@font-face {
  font-family: 'Magnolia';
  src: font-url('Magnolia_Script.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

header {
	height: 60px;
	background-color:#e3f2fd;
}
.nav li a:hover {
	background-color:#e3f2fd;
}

header .navbar-left span{
	font-size: 35px;
}

span {
	font-family: 'Magnolia';
}

header .navbar-right {
	padding-top: 5px;
}

.user-name {
	padding-top: 10px;
}

body {
	margin-top: 61px;
}

.title {
	margin-top: 80px;
}

.line-spacing {
	line-height: 30px;
}

.attention {
	color: red;
}

.description-title {
	margin: 40px 0 10px;
}

.paid-space {
	margin-top: 100px;
	text-align: center;
	p {
    color: #4f2e00;
    }
}

.form-space {
	margin-top: 30px;
}

a:hover {
	text-decoration: none;
}

.wrap{
  width: 90%;
  max-width: 850px;
  margin: 100px auto 0;
}

#tab-menu {
	display: flex;
    text-align: center;
    margin: 0;
    padding: 0;
}

#tab-menu li {
  list-style-type: none;
  width: 50%;
}

#tab-menu a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 5px;
  text-align: center;
  background: #d9534f;
}

#tab-menu .tab-link2 {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 5px;
  text-align: center;
  background: #5bc0de;
}

#tab-menu .active {
  border: 1px solid #efe9e9;
  border-bottom: none;
  background: #fbfeff;;
  color:black;
}

#tab-contents .tab {
  padding: 30px;
  background: #fbfeff;;
  border: 1px solid #efe9e9;
  border-top: none;
}

#tab-contents p{
  color:#000;
  line-height: 2.5;
}

.navbar-form {
  padding: 20px 50px
}