/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

//タイトルフォント
@font-face {
  font-family: 'Magnolia';
  src: font-url('Magnolia_Script.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
//タイトルフォント

//メディアクエリ
$pc: 1200px;
$tab: 768px;
$small-tab: 550px;
$sp: 500px;
$small-sp: 330px;  

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin small-tab {
  @media (max-width: ($small-tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
@mixin small-sp {
  @media (max-width: ($small-sp)) {
    @content;
  }
}
//メディアクエリ

//全ページ共通CSS
body {
  margin-top: 61px;
}

.application_title {
  font-family: 'Magnolia';
}

header {
  height: 60px;
  background-color:#e3f2fd;
  .pull-left span{
    font-size: 35px;
  }
  .pull-right {
    padding-top: 5px;
  }
  .navbar-form {
    padding: 20px 50px
  }
  .nav li a:hover {
    background-color:#e3f2fd;
  }
  #sp-menu {
    display: none;
  }
}

.header {
  @include small-tab{
    background-color:#e3f2fd;
  }
}

.form-space {
  padding-top: 30px;
}

.form-background {
  background-color: #f1f1f1;
  margin-top: 30px;
  padding-bottom: 50px;
}

a {
  color: #454582;
  &:hover {
    color: #2a2d2f;
    text-decoration: none;
  }
} 

.attention {
  color: red;
}

.signin-title {
  margin-top: 60px;
  @include small-tab {
    margin: 140px 0 10px 20px;
  }
}

.picture-image {
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
}

.nothing {
  padding-top: 30px;
  @include sp {
    padding: 30px 0 0 20px;
  }
}

.profile-image {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  @include small-tab {
    margin-top: 140px;
  }
}

.center {
  display: flex;
  justify-content: center; 
}

.nowrap {
  white-space: nowrap;
}

.word-break {
  word-break: break-all;
}

#error_explanation {
  background: #ffe6e6;
  margin-top: 20px;
  margin-bottom: 10px;
}
//全ページ共通CSS

//ハンバーガーメニューCSS
#hm-icon{
  @include pc {
    position: fixed;
    right: 20px;
    top: 5px;
    z-index: 10;
  }
}

.menu-trigger,
.menu-trigger span {
  @include pc {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }
}

.menu-trigger {
  @include pc {
    position: relative;
    width: 40px;
    height: 45px;
  }
}

.menu-trigger span {
  @include pc {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #337ab7;
    &:nth-of-type(1) {
      top: 10px;
    }
    &:nth-of-type(2) {
      top: 26px;
    }
    &:nth-of-type(3) {
      bottom: 0;
    }
  }
}

header .pull-right {
  @include pc {
    display: none;
  }
}

.menu-trigger.active span {
  @include pc {
    &:nth-of-type(1) {
      transform: translateY(10px) rotate(-45deg);
      background-color: #fff;
    }
    &:nth-of-type(2) {
      opacity: 0;
    }
    &:nth-of-type(3) {
      transform: translateY(-22px) rotate(45deg);
      background-color: #fff;
    }
  }
}

#sp-menu {
  @include pc {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    width: 100%;
    min-height: 100%;
    display: none;
    z-index: 9;
    li{
      text-align: center;
      margin-bottom: 30px;
      list-style: none;
    }
    a{
      color: #fff;
      text-decoration: none;
      font-weight: bold;
    }
  } 
}
//ハンバーガーメニューCSS

//会員登録画面専用CSS 
.registration-title {
  margin-top: 70px;
  @include tab {
    font-size: 30px;
  }
  @include small-sp {
    font-size: 25px;
  }
}

.signup-text {
  margin-top: 20px;
  @include tab {
    margin: 20px;
    font-size: 13px;
  }
  @include sp {
    margin: 20px;
    font-size: 12px;
  }
}

.signup-title {
  margin: 70px 0 10px 20px;
  @include sp {
    margin: 130px 0 0 20px;
  }
}
.signup-formspace {
  padding-top: 20px;
}
//会員登録画面専用CSS 

//会員登録画面タブメニューのCSS 
.wrap{
  margin-top: 100px;
  h2 {
    font-size: 34px;
    @include small-sp {
      font-size: 28px;
    }
  }
}

#tab-menu {
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
    width: 50%;
  }

  .paid-link {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px;
    text-align: center;
    background: #d9534f;
  }

  .free-link {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px;
    text-align: center;
    background: #5bc0de;
  }

  .active {
    border: 1px solid #efe9e9;
    border-bottom: none;
    background: #fbfeff;;
    color:black;
  }
}

#tab-contents {
  h3 {
    @include small-sp {
      font-size: 20px;
    }
  }
  .tab {
    padding: 30px;
    background: #fbfeff;;
    border: 1px solid #efe9e9;
    border-top: none;
    @include small-sp {
      padding: 5px;
    }
  }

  .line-spacing {
    line-height: 30px;
  }

  .description-title {
    margin: 40px 0 10px 25px;
  }
  .radio-button {
    margin-top: 100px;
    text-align: center;
    p {
      color: #4f2e00;
    }
  }
}
//会員登録画面タブメニューのCSS 