// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
	margin-top: 15px;
}

.comment-balloon {
	margin: 10px 0 20px;
  padding: 20px;
  background: #e0e5f7;
  border-radius: 15px;
  &:before{
	  content: '';
    position: absolute;
    left: 25px;
    top: -15px;
    display: block;
    width: 0;
    height: 0;
    border-right: 5px solid transparent;
    border-bottom: 15px solid #e0e5f7;
    border-left: 10px solid transparent;
	}
}