// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-image {
	background: image-url(/images/sketch.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center; 
    opacity:1;
}

.topimage-opacity {
    height: 100%;
    background: rgba(255,255,255,0.6);
}

.top-image h1 {
	padding-top: 245px;
    text-align: center;
	font-size: 50px;
}

.about-title {
	margin-top: 50px;
}

.about-content {
    margin-top: 50px;
}

.about-image1 {
    background: image-url(/images/teach.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    height: 280px;
    border-radius: 10%;
}

.about-image2 {
    background: image-url(/images/drawing.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 30px;
    height: 280px;
    border-radius: 10%;
}

.about-image3 {
    background: image-url(/images/pc.jpg);
    background-size: cover;
    margin-top: 30px;
    height: 280px;
    border-radius: 10%;
}

.start {
	margin-top: 150px;
}

