// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image {
	position: relative;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.top-title h1 {
	position: absolute;
	top: 250px;
	left: 25%;
	font-size: 50px;
}

.about-title {
	margin-top: 50px;
}

.about-image1 {
	background: url(/images/teach.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 70px;
    height: 280px;
    border-radius: 70%;
}

.about-image2 {
	background: url(/images/drawing.jpg);
	background-size: cover;
    background-position: center;
    margin-top: 40px;
    height: 280px;
    border-radius: 70%;
}

.about-image3 {
	background: url(/images/pc.jpg);
	background-size: cover;
    margin-top: 50px;
    height: 280px;
    border-radius: 70%;
}

.about-content {
	margin-top: 130px;
}

.sign-up-title {
	margin-top: 150px;
}

