// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//メディアクエリ
$pc: 1200px;
$small-pc: 991px; 
$tab: 768px; 
$sp: 600px;
$minimum-sp: 330px;
$small-sp: 300px; 

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin small-pc {
  @media (max-width: ($small-pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
@mixin minimum-sp {
  @media (max-width: ($minimum-sp)) {
    @content;
  }
}
@mixin small-sp {
  @media (max-width: ($small-sp)) {
    @content;
  }
}
//メディアクエリ

.top-image {
	background: image-url("/images/sketch.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center; 
  opacity:1;
}

.topimage-opacity {
  height: 100%;
  background: rgba(255,255,255,0.6);
}

.top-image h1 {
	padding-top: 245px;
  text-align: center;
	font-size: 50px;
  @include tab {
    font-size: 34px;
  }
}

.about-title {
	margin-top: 50px;
  @include tab {
    font-size: 28px;
  }
  @include minimum-sp {
    font-size: 25px;
  }
  @include small-sp {
    font-size: 30px;
  }
}

.about-content {
  margin-top: 50px;
  @include small-pc {
     margin-top: 60px;
  }
  @include tab {
    h3{
      font-size: 20px;
    }
  }
  @include small-sp {
    h3{
      font-size: 22px;
    }
  }
}

.about-image1 {
  background: image-url("/images/teach.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 10px;
  height: 280px;
  border-radius: 10%;
  @include pc {
    margin-top: 0;
  }
}

.about-image2 {
  background: image-url("/images/drawing.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 30px;
  height: 280px;
  border-radius: 10%;
  @include pc {
    margin-top: 65px;
  }
  @include small-pc {
    margin-top: 0;
  }
}

.about-image3 {
  background: image-url("/images/pc.jpg");
  background-size: cover;
  margin-top: 30px;
  height: 280px;
  border-radius: 10%;
  @include pc {
    margin-top: 45px;
  }
  @include small-pc {
    margin-top: 0;
  }
}

.start {
	margin-top: 150px;
}

h1 .start {
  @include small-sp {
    font-size: 26px;
  }
}

.inquiry-link {
  padding-bottom: 100px;
}

.start-title {
  @include tab {
    font-size: 30px;
  }
  @include sp {
    font-size: 36px;
  }
  @include small-sp {
    font-size: 26px;
  }
}