// Place all the styles related to the inquiries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//メディアクエリ
$sp: 600px; 

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
//メディアクエリ

.confirm {
	background-color: white;
	padding: 5px;
	border: 1px solid #d4d0d0;
  border-radius: 7px;
}

.thanks-image {
	display: flex;
  justify-content: center;
}

.thanks-title {
	margin-top: 70px;
	@include sp {
    margin-top: 50px;
  }
}

.thanks-text {
	margin-bottom: 50px;
	@include sp {
		margin: 50px;
	}
}

.inquiry-title {
	padding-top: 30px;
	@include sp {
		padding-top: 20px;
	}
}

