// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//メディアクエリ
$pc: 1200px;
$small-pc: 991px;
$tab: 768px; 
$sp: 600px; 

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin small-pc {
  @media (max-width: ($small-pc)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
//メディアクエリ

.title-space {
	margin-top: 10px;
}

.space {
	margin-right: 20px;
}

.picture-details {
margin-top: 70px;
	border: solid 1px black;
}

.favorite-bookmark {
	display: flex;
	flex-direction: row-reverse;
}

.image-title {
	margin: 5px 0 10px; 
}

.slick-next:before, .slick-prev:before {
  color: #666!important;
  @include small-pc {
    display: none;
  }
}

.genre-search {
	margin-top:50px;
	border: 4px solid #5f5e5d;
	th {
		font-size: 20px; 
		border-bottom: 3px double #5f5e5d; 
		padding: 5px;
		background: #5f5e5d;
		color: white;
	}
	td {
		padding: 15px 80px 10px 5px; 
		font-size: 18px;
	}
	@include small-pc {
    display: none;
  }
}

.pictures {
	margin-top:20px;
	@include sp {
    margin-top:120px;
  }
}

.edit-destroy {
	display: flex;
  flex-direction: row-reverse;
  .edit {
  	margin: 0 0 5px 10px;
  }
  .destroy {
  	margin-bottom: 5px;
  }
}

.nowrap {
  white-space: nowrap;
}

.post-nowrap {
	width: 80px;
}

.index-title {
	display: block;
	white-space: nowrap;
  	overflow: hidden;
 	text-overflow: ellipsis;
}

.index-nowrap {
	width: 170px;
}

.user-picture-nowrap {
	width: 180px;
}

.index-pagetitle {
	background: linear-gradient(to right, #ececec, #FFF);
	padding: 10px;
}

.bookmark {
	margin-top: 15px;
}

.picture-space {
      margin: 30px 45px 0 30px;
  @include pc {
    margin: 20px 20px 0 10px;
  }
  @include tab {
    margin: 30px 45px 0 30px;
  }
  @include sp {
    margin: 20px 20px 0 10px;
  }
}

.picture-user {
	@include small-pc {
  	display: none;
  }
}