// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title-space {
	margin-top: 10px;
}

.space {
	margin-right: 20px;
}

.picture-image {
	display: flex;
	flex-wrap: wrap;
	align-items: center; 
}

.picture-details {
margin-top: 70px;
	border: solid 1px black;
}

.favorite-bookmark {
	display: flex;
	flex-direction: row-reverse;
}

.image-title {
	margin: 5px 0 10px; 
}

.slick-next:before, .slick-prev:before {
    color: #666!important;
}

.genre-search {
	margin-top:50px;
	border: 4px solid #5f5e5d;
	th {
		font-size: 20px; 
		border-bottom: 3px double #5f5e5d; 
		padding: 5px;
		background: #5f5e5d;
		color: white;
	}
	td {
		padding: 15px 80px 10px 5px; 
		font-size: 18px;
	}
}

.pictures {
	margin-top:20px;
}

.edit-destroy {
	display: flex;
  flex-direction: row-reverse;
  .edit {
  	margin: 0 0 5px 10px;
  }
  .destroy {
  	margin-bottom: 5px;
  }
}

.nowrap {
  white-space: nowrap;
}

.post-nowrap {
	width: 80px;
}

.index-title {
	display: block;
	white-space: nowrap;
  	overflow: hidden;
 	text-overflow: ellipsis;
}

.index-nowrap {
	width: 170px;
}

.user-picture-nowrap {
	width: 180px;
}

.index-pagetitle {
	background: linear-gradient(to right, #ececec, #FFF);
	padding: 10px;
}

.bookmark {
	margin-top: 15px;
}