// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title-space {
	margin-top: 10px;
}

.space {
	margin-right: 20px;
}
 
.profile-image {
	display: flex;
	justify-content: center; 
}
.picture-image {
	display: flex;
	flex-wrap: wrap;
	align-items: center; 
}

.images {
	margin-right: 40px;
}

.picture-details {
margin-top: 70px;
	border: solid 1px black;
}

.favorite-bookmark {
	display: flex;
	flex-direction: row-reverse;
}

.comment {
	margin-top: 15px;
}

.pictures-title {
	margin: 5px 0 10px; 
}

.slick-next:before, .slick-prev:before {
    color: #666!important;
}