// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//メディアクエリ
$small-pc: 991px; 
$tab: 768px; 
$sp: 600px; 

@mixin small-pc {
  @media (max-width: ($small-pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
//メディアクエリ

.profile {
	margin-top: 100px;
  @include sp {
    margin-top: 50px;
  }
}

.bookmark-link {
	padding-bottom: 10px;
}

.user-link {
	margin: 10px 0;
}

.edit-user-title {
  margin: 60px 0 0 110px;
  @include small-pc {
    margin-left:20px;
  }
  @include sp {
    margin: 120px 0 0 20px;
  }
}

.picture-title {
  margin-top: 60px;
  color: #3a3000; 
}

.withdraw {
  @include tab {
    margin-top: 30px;
  }
}