// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-image {
	margin-top: 50px;
}

.profile {
	margin-top: 100px;
}
.edit-link {
	padding-top: 170px;
}
.link {
	margin-top:220px;
}
.picture {
	margin-top: 120px;
}

.picture-image {
	display: flex;
	align-items: center; 
	margin: 25px 0;
}

.image {
	margin-right: 24px;
}

.title {
	margin-top: 50px;
}

.bookmark-link {
	margin: 10px 0;
}