<p>こんにちは <%= @resource.email %>!</p>

<p>パスワードの変更依頼を承りました。 以下のリンクからパスワードを変更できます。</p>

<p><%= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>
	もしこのメールに心当たりがない場合<br>
	example@email.comまでご連絡ください。
</p>
