<div class="container">
  <div class="row">
		<h1 class="text-center page-title">お問い合わせ</h1>
		<p class="text-center thanks-text">
			お問い合わせいただきありがとうございました。<br>
			内容を確認次第、お客様のメールアドレスに返信いたします。<br>
			万が一返信がない場合は、お手数ですがexample@email.comにご連絡ください。
		</p>
		<div class="thanks-image">
			<%= image_tag('business_ojigi_woman.png', style: "width: 200px; height: 300px;") %>
		</div>
	</div>
</div>	
